.Trips_List {
  left: 1702.4981689453125px;
  top: 2183.87548828125px;
  border-radius: [object Object]px;
  justify-content: space-around;
  grid-row-gap: 30px;
  align-items: flex-end;
  margin-right: 120px;
}
.Title_TripsList {

  font-size: 35px;
  font-family: "Indie Flower", cursive;
  color: rgb(136, 129, 167);
}

.Trips_Block {
  justify-content: space-between;
  grid-row-gap: 30px;
  /* justify-content: center; */
}
.Add_Button_TripList {
}

.buttonsPagenation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}