.Trip_ComponentDiv {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  font-family: "Indie Flower", cursive;
  color: rgb(77, 42, 231);

  border-radius: [object Object]px;
}

.Paper_Div {
  position: relative;
  padding: 2em;
  min-height: 550px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
