.HomePageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.HomePageText {
  height: 20%;
  justify-content: center;
  left: 65%;
  top: 75%;
  font-size: large;
}
