.HomePageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.HomePageText {
  height: 20%;
  left: 65%;
  top: 75%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}
.HomePageBackGroundImage {
  transition: scale 2s;
}
